/* added css for Geomixer */
.leaflet-gmx-icon-boxzoom {
    background-position: -623px 2px;
}
.leaflet-gmx-icon-boxzoom-active {
    background-position: -623px -24px;
}

.leaflet-control-permalink, .leaflet-control-gmxprint  {
    clear: none;
}
.leaflet-gmx-icon-permalink{
    background-position: -531px 2px;
}

.leaflet-gmx-icon-gmxprint {
    background-position: -49px 1px;
}

.cursorAuto {
  cursor: auto;
}

.leaflet-container {
    cursor: default;
}
.leaflet-image-layer {
	z-index: -1;
}

.leaflet-ext-search {
    border-radius: 5px;
}

@media screen and (min-width: 1300px) {
.leaflet-ext-search input {
    width: 310px;
}

.leaflet-ext-search, .leaflet-ext-search-list {
    width: 350px;
}
}

@media screen and (max-width: 1300px) {
.leaflet-ext-search input {
    width: 150px;
}

.leaflet-ext-search, .leaflet-ext-search-list {
    width: 190px;
}
}
