/* search */
.SearchInputControl 
{
	width: 100%;
	border-collapse: collapse;
	margin-top: 3px;
}
.SearchInputControl *
{
	color: #003366;
	font-family: sans-serif;
	font-size: 11px;
}
.SearchInputControl td{
	padding: 0;
	margin: 0;
}

.searchLayerHeader, .SearchTotalHeader
{
	color: #2372B9;
	font-size: 12px;
}
.searchLayerHeader span
{
	margin-left: 10px;
	color: #57697A;
}
td.searchElemPosition{
	text-align: right;
	padding-right: 4px;
}
span.searchElemPosition
{
	margin-left: 0px;
}
span.searchElem
{
	cursor: pointer;
	color: #2372B9;
	font-weight: bold;
}
span.searchElemParent
{
	cursor: pointer;
	margin-left: 4px;
}
span.searchElem:hover, span.searchElemParent:hover
{
	text-decoration: underline;
}
.searchProperty
{
	margin: 0px 1px 0px 6px;
	color: #4195B0;
}
.SearchResultRow
{
	vertical-align: top;
	white-Space: normal;
	font-size: 11px;

}

.SearchResultText.ui-draggable-dragging
{
    width: 360px;
    background-color: #edf4f6;
}

.searchBeginTD
{
	border: none;
	text-align: right;
	width: 4px;
}
.searchBegin
{
	background: transparent url(../img/searchBegin.png) no-repeat scroll 0 0;
	height: 22px;
	width: 4px;
}
.searchBeginOnTD
{
	border: none;
	width: 21px;
	text-align: right;
}
.searchBeginOn
{
	background: transparent url(../img/searchBeginOn.png) no-repeat scroll 0 0;
	cursor: pointer;
	height: 22px;
	width: 21px;
}
.active .searchBeginOn
{
	background: transparent url(../img/searchBeginOn_a.png) no-repeat scroll 0 0;
}
.searchBeginOff
{
	background: transparent url(../img/searchBeginOff.png) no-repeat scroll 0 0;
	border: none;
	height: 22px;
	width: 21px;
	cursor: pointer;
}
.active .searchBeginOff
{
	background: transparent url(../img/searchBeginOff_a.png) no-repeat scroll 0 0;
}
.searchCenterTD{
	width: 100%
}
.searchCenter 
{
	background: transparent url(../img/searchCenter.png) repeat scroll 0 0;
	border: none;
	color: #999999;
	height: 22px;
	width: 100%
}
.searchCenterValueExists{
	color: #153069;
}
.searchEndTD
{
	border: none;
	width: 20px;
	text-align: left;
}
.searchEnd
{
	background: transparent url(../img/searchEnd.png) no-repeat scroll 0 0;
	height: 22px;
	width: 20px;
	cursor: pointer;
}

.searchResultCanvas.treeview{
	margin-left: 14px;
}
.SearchResultListChildsCanvas{
	padding-right: 10px;
    overflow-x: hidden;
}
.searchResultListLoading
{
	margin: 3px 0px 3px 20px;
}
.searchResultListLoadingImg
{
	margin-right: 10px;
}
.SearchResultListNotFound
{
	margin: 10px 0px 0px 10px;
}

.SearchDownloadShpLink
{
	padding: 2px 0px 6px 1px;
}
.DownloadSHPButton 
{
	height: 25px;
	width: 100px;
	margin: 15px 0px 0px 100px;
}
.DownloadSHPButtonText
{
	text-align: center;
}
.searchLocationPath{
	cursor: pointer;
	color: inherit;
}
span.searchLocationPath:hover
{
	text-decoration: underline;
}
/* AUTOCOMPLETE*/
.ui-autocomplete{
	font-size: 11px;
	font-family: sans-serif;
}
.ui-autocomplete-match{
	font-weight:bold;
	color:Blue;
}
.ui-autocomplete-category {
	color: #004488;
	font-weight: bold;
	padding: 0;
	margin: .8em 0 .2em;
	line-height: 1.5;
}