.languageWidget {
  display: table;
}
.languageWidget-item {
  padding: 3px;
  display: table-cell;
  color: #343434;
}
.languageWidget-link {
  color: #000000;
}
.languageWidget-link:hover {
  color: #000000;
}
.languageWidget-disabled {
  color: #6f6f6f;
}
.languageWidget-item_current {
  text-decoration: underline;
}
