 /*Grid panel*/


 #gridStepUnitsDegrees,
 #gridStepUnitsKilometers,
 #gridFormatDD,
 #gridFormatDM,
 #gridFormatDMS {
     margin: 0px 2px 0px 0px;
 }

.gridConfigTable .bigEmptyTableRow {
    height: 8px;
}

.gridConfigTable .smallEmptyTableRow {
    height: 4px;
}

.gridConfigLeftMenu {
    position: relative;
    padding: 3px 0px 3px 7px;
}

.gridSettingsTitle {
    margin: 0px 4px;
}

.gridUnitsLabel,
.gridFormatLabel {
  margin: 0px 9px 0px 0px;
  vertical-align: middle;
}

.gridStepInput {
    width: 55px;
    border-width: 2px;
    margin: 2px  7px 2px 2px;
}

.gridStepButton {
    margin: 2px;
}

.disabledLabel {
    color: grey;
}
