.profilePanel
{
    width:480px;
    background-color:White;
    text-align: center;
    right: 0px;
    top: 40px;
    position: absolute;
}

.profilePanel-content
{
    background-color:White;
    text-align: center;
    padding-bottom:5px;
}

.profilePanel-scrollable
{
    background-color: white;
    width:330px;
    right: 150px;
    top: 40px;
    padding-top: 20px;
    position: absolute;
}

.profilePanel-content p
{
    text-align:left;
    font-weight:normal;
    margin:1px 0 0
}

.profilePanel-content div.link_button
{
    text-align:left;
    border:none;
    padding:2px 0 2px 0;
    margin: 0;
}

.profilePanel-content div.link_button span
{
    font-weight:bold;
    cursor:pointer;
    color:#2372C4;
    text-decoration:underline;
    white-space:normal;
}

.profilePanel-content div div
{
    /*font: normal normal bold 12pt Verdana;*/
    font-weight:bold;
    border:1px solid #ddd;
    margin:  6px 12px 0px 12px;
    padding: 1px 12px 3px 12px;
    line-height: 1.5;
    text-align: left;
    cursor:default;
}

.profilePanel-content div div:first-of-type
{
    margin-top:  0;
}

.profilePanel-content .ResourceTable
{
    margin: 0 12px 6px 12px;
}

.profilePanel-content .ResourceTable td
{
   border:1px solid #ddd;
   padding: 6px 12px 6px 12px;
}

.profilePanel-content .ResourceTable th
{
   border:none;
   text-align:left;
   padding: 6px 12px 6px 12px;
}

.profilePanel-content .ResourceTable td.value
{
   font-weight:normal;
   white-space:nowrap;
}

 .profilePanel-content .ResourceTable tr:nth-child(even)
{
    background-color: #eee
}

.profilePanel-content div div.editable
{
}

.profilePanel-content div div.form-caption
{
    /*font: normal normal bold 12pt Verdana;*/
    font-weight:bold;
    border:none;
    margin: 16px 12px 0px 12px;
    padding: 1px 12px 3px 12px;
    line-height: 1.5;
    text-align: left;
}

.profilePanel-content div div.first
{
    margin-top:0;
}

.profilePanel-content label
{
    font-weight:normal;
}

.profilePanel-content .ErrorSummary
{
    text-align:center;
    margin: 0;
    border: none;
    font-weight:normal;
    color:Red;
    display:none;
}

.profilePanel-content .SubmitBlock
{
    margin:auto;
    width:130px;
    padding: 6px 0 0 20px;
    border:none;
}

.profilePanel-content .SubmitBlock img
{
    float:right;
    margin-top:8px;
    visibility:hidden;
}

.profilePanel-menu .Wait
{
    padding-top:40px;
    padding-left:45%;
    cursor:default;
}

.profilePanel-menu .UpdateMessage
{
    text-align:center;
    cursor:default;
}

.profilePanel-menu .UpdateMessage div
{
    background:white;
    padding:10px;
    margin-top:20px;
    text-align:center;
    cursor:default;
}

.profilePanel-menu .UpdateMessage div.success
{
    color:#fc830b;
}

.profilePanel-menu .UpdateMessage div.fail
{
    color:Red;
}

.profilePanel-content .changed
{
    color:#fc830b;
}

.profilePanel-content div div.newpass-request
{
    text-decoration:underline;
    border:none;
    cursor:pointer;
    color:#2372C4;
    font-weight:bold;
}

.profilePanel-content div div.newpass-form
{
    display:none;
    padding-top: 12px;
    text-align:left;
}

.profilePanel-content div div.newpass-form div
{
    text-align:center;
    margin: 0;
    border: none;
}

.profilePanel-content div div.newpass-form input[type="password"]
{
    width:160px;
    border: 1px solid #ddd;
    float:right;
}

.profilePanel-content div div.newpass-form input[type="button"]
{
    margin-top: 0px;
}


.profilePanel-content div div.newpass-form .SubmitBlock
{
    margin:auto;
    width:130px;
    padding: 9px 0 9px 20px;
}

.profilePanel-content div div.newpass-form .SubmitBlock img
{
    float:right;
    margin-top:8px;
    visibility:hidden;
}

.profilePanel-content table
{
    margin: 18px 18px 0px 18px;
}

.profilePanel-content td
{
    padding: 6px;
    vertical-align: top;
    text-align: left;
}

.profilePanel-content input[type="checkbox"]
{
    margin-top: 1px;
    margin-left: 8px;
}
/*
.profilePanel-content input[type="text"]
{
    margin-top: 1px;
    border: none;
    width: 190px;
}
*/
.profilePanel-content textarea
{
    resize: none;
    overflow:hidden;
    margin: 1px 0 2px 0px;
    /*padding:2px 0px 2px 0px;*/
    border: none;
    width: 100%;
    background-color:#fff
}

.profilePanel-content input[type="text"]
{
    margin: 1px 0 2px 0px;
    padding: 2px 1px 2px 1px;
    border: none;
    width: 100%;/*278px;*/
    border-bottom:1px dashed #888
}

.profilePanel-content input[type="text"].correct
{
    background-color:#fff
}

.profilePanel-content span.new
{
    color:#fc830b
}

.profilePanel-content input[type="button"]
{
    border:none;
    border-radius:2px;
    margin-top: 0px;
    background-color: #2372C4;
    color:White;
    padding: 6px 12px 8px 12px;
    cursor:pointer;
}

.profilePanel input[type="text"].error, .profilePanel input[type="password"].error
{
    background-color:#ffabab;
}

.profilePanel-content div div span
{
    font-weight:normal;
    white-space:nowrap;
}

.profilePanel-menu
{
    width:150px;
    top: 40px;
    right: 0px;
    border-left: 1px solid lightgrey;
    padding-top: 20px;
    position: absolute;
}

.profilePanel-menu div
{
    padding: 6px 18px 6px 18px;
    color:Black;
    cursor:pointer;
}

.profilePanel-menu div.selected
{
    background-color:#2372C4;
    color:White;
}

.profilePanel-menu div.targeted
{
    color:#2372C4;
}

.profilePanel-menu span.targeted
{
    text-decoration:underline;
}

/*****************************************/

.apiKeyDialog
{
    padding: 0 12px 0 12px;
}

.apiKeyDialog .first div
{
    font-weight:normal;
    margin:15px;
}

.apiKeyDialog .first div td
{
    padding:5px;
}

.apiKeyDialog div.submit
{
    text-align:center;
}

.apiKeyDialog .ErrorSummary
{
    color:Red;
    font-weight:normal;
    margin-bottom:15px;
    text-align:center;
}

.apiKeyDialog .ErrorSummary span.success
{
    color:#fc830b;
}

.apiKeyDialog .ErrorSummary img
{
    visibility:hidden;
}

.apiKeyDialog input[type="button"]
{
    border:none;
    border-radius:2px;
    margin: 10px;
    background-color: #2372C4;
    color:White;
    padding: 6px 12px 8px 12px;
    cursor:pointer;
}

.apiKeyDialog input[type="text"]
{
    border: 1px solid #ddd;
    padding:4px 8px 4px 8px;
    margin-left:10px;
    margin-bottom:16px;
    width:80%;
}

.apiKeyDialog input[type="text"].ApiKeySite
{
    width:85%;
}

.apiKeyDialog input[type="text"].error
{
    background-color:#ffabab;
}

.apiKeyDialog .hyperLink
{
    text-decoration:underline;
    cursor:pointer;
    color:#2372C4;
    font-weight:bold;
}

.apiKeyDialog .licence
{
    height:190px;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 1px 0 1px 1px;
}

.apiKeyDialog .licence .mCSB_container
{
    padding:4px;
}

.apiKeyDialog .licence p
{
    font-weight:normal;
    padding: 0 2px  4px  2px;
}

/*
.apiKeyDialog .licence iframe
{
    width:500px;
    height:3000px;
    border: none;
}

*/
.apiKeyDialog  table
{

}

.apiKeyDialog  .list
{
    margin-top:10px;
    height:216px;
    width:100%;
}

.apiKeyDialog table th
{
   text-align:left;
    padding:0 6px 0 6px;
}
.apiKeyDialog  .list td
{
    font-weight:normal;
    padding:5px 6px 5px 6px;
}

.apiKeyDialog  .list td input
{
	margin-top: 4px;
}

.apiKeyDialog  .list tr td:first-of-type
{
    font-weight:normal;
}

.apiKeyDialog .list td.enabled
{
    color:Green;
}

.apiKeyDialog .list td.disabled
{
    color:Red;
}

.apiKeyDialog  .list tr:nth-child(odd)
{
    background-color: #eee
}
/*
.apiKeyDialog  div.spacer
{
    height:30px;
}
*/
/*****************************************/

.registrationForm
{
    width: 512px;
    margin:auto;
}

.registrationForm tr td
{
    font-weight:bold;
    vertical-align:top;
    height:40px;
    padding-left: 20px;
}

.registrationForm tr td:first-of-type
{
    padding-left: 0;
}  

.registrationForm tr:nth-of-type(1)>td
{
    padding-top: 5px;
    height:35px;
}

.registrationForm table
{
    width: 100%;
}

.registrationForm table tr td
{
    /*border: 1px solid blue;*/
    vertical-align:middle;
    height:1%;
    padding-left: 10px;
}

.registrationForm table tr td:first-of-type
{
    padding-left: 0;
} 

.registrationForm table tr:nth-of-type(1)>td
{
    padding-top: 0;
    height:1%;
}

.registrationForm td.header
{
    font-weight:normal;
}

.registrationForm td.submit
{
    text-align:center;
    padding-top:0;
}

.registrationForm .SubmitBlock
{
    margin:auto;
    width:180px;
    padding: 15px 0 15px 20px;
}

.registrationForm .SubmitBlock img
{ 
    float:right;
    margin-top:8px;
    visibility:hidden;
}

.registrationForm td.submit .ErrorSummary
{
    color:Red;
    font-weight:normal;
    /*border:1px solid red;*/
    margin-bottom:0;
    display:none;
}

.registrationForm input[type="button"],
.registrationConfirm input[type="button"]
{
    border:none;
    border-radius:2px;
    margin-top: 0px;
    background-color: #2372C4;
    color:White;
    padding: 6px 12px 8px 12px;
    cursor:pointer;
}

.registrationForm input[type="text"], .registrationForm input[type="password"]
{
    border: 1px solid #ddd;
    padding:4px 6px 4px 6px;
    margin-left:0;
}

.registrationForm input[type="text"].error, .registrationForm input[type="password"].error
{
    background-color:#ffabab;
}

.registrationForm input.Login
{
    width:360px;
}

.registrationForm input.NickName
{
    width:110px;
}

.registrationForm input.Password
{
    width:130px;
}

.registrationForm input.Repeat
{
    width:140px;
}

.registrationForm input.Capcha
{
    width:82px;
}

.registrationForm input.FirstName
{
    width:170px;
}

.registrationForm input.LastName
{
    width:170px;
}

.registrationForm td.LastNameLbl
{
    padding-left:20px
}

.registrationConfirm
{
}

.registrationConfirm div:nth-of-type(1)
{
    height:155px;
    padding: 5px 16px 0 16px;
}

.registrationConfirm div:nth-of-type(2)
{
    text-align:center;
    margin: 15px 0 15px 0;
}

.registrationForm div.policy{
    width:83%;
    margin-bottom:15px;
	margin-left: auto;
	margin-right: auto;
    font-weight: normal;
}