.DrawingObjectsLeftMenu
{
	padding: 3px 0px 3px 7px;
}
.drawingObjectsCanvas
{
	padding: 3px 13px 3px 7px;
}
.drawingObjectsCanvas .canvas
{
	margin: 2px 0px;
	height: 20px;
	z-index: 1;
	position: relative;
}
.drawingObjectsCanvas .title
{
	cursor: pointer;
	margin: 0px 4px;
	color: #218580;
}
.drawingObjectsCanvas .title:hover
{
	text-decoration: underline;
}
.drawingObjectsCanvas .text
{
	cursor: pointer;
	margin: 0px 2px;
	color: #FC830B;
}
.drawingObjectsCanvas .summary
{
	margin: 0px 2px;
	color: #215570;
}

.drawingObjectsItemCanvas
{
	position: relative;
}

.drawingObjectsActiveItemCanvas
{
	/*background-color: #ffff00;*/
	/*background-color: #94CAEB;*/
	background-color: #CCCCCC;
}
.drawingObjectsActiveItemCanvas .drawingObjectsItemTitle
{
	color: #003366;
}

.drawingObjectsItemTitle
{
	cursor: pointer;
	margin: 0px 4px;
	/*color: #218580;*/
}
.drawingObjectsItemTitle:hover
{
	text-decoration: underline;
}

.DrawingObjectsLeftMenu .gmx-icon-close
{
    position: absolute;
    right: 7px;
    top: 6px;
}

.drawingObjectsItemCanvas .gmx-icon-close {
    display: inline-block;
    margin-left: 10px;
}

.drawingObjectsCanvas .remove,
.serverDataCanvas .remove
{
	cursor: pointer;
	height: 16px;
	padding: 0;
	width: 16px;
	top: 2px;
	right: 7px;
	position: absolute;
}
.item img
{
	height: 13px;
	width: 7px;
	margin-left: 5px;
	margin-right: 4px;
}
.drawingObjectsCanvas div.item
{
	float: left;
	margin-right: 16px;
}
.drawingObjectsDownloadCanvas
{
	padding: 3px 5px;
}
.drawingObjectsDownloadCanvas div
{
	margin: 2px 5px;
}

.drawingObjectsDownloadRaster
{
    margin: 1px 0px;
}

.drawingObjectsDownloadRaster *
{
	vertical-align: middle;
}

.drawingObjectsDownloadRaster > label
{
	margin-right: 10px;
}

.drawingObjectsDownloadRaster input
{
	margin-right: 2px;
}