.indexGridConfigLeftMenu {
    position: relative;
    padding: 3px 0px 3px 7px;
}

.indexGridConfigLeftMenu > table {
    border-collapse: separate;
    border-spacing: 5px 5px;
}

.settings {
    width: 90%;
    margin: 4px 4px 10px 4px;
}

.dims {
    padding: 4px;
    margin: 4px 0px 4px 0px;
    clear:both;
}

.name {
    clear:both;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.maxLat,
.maxLng,
.minLat,
.minLng,
.xStep,
.yStep,
.indexCount {
    clear:both;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    padding-right: 20px;
    vertical-align:top;
    height:20px;
}

.name {
    width: 100%;
    padding-right: 20px;
    vertical-align:top;
    height:20px;
}

.eLabel, .eInput, {
    height: 25px;
    width: 33%;
    text-align:left;
}

.indexCount {
    vertical-align: middle;
    text-align:left;
}

.createWrap {
    height: 52px;
}

.create {
    padding: 0px;
    vertical-align: top;
    clear: both;
    line-height: 30px;
}

.spinHolder {
    margin: 0px 0px 0px 8px;
}

.spinMessage {
    margin: 0px 0px 0px 4px;
}

.errorMessage {
    color: red;
}
