.iconSidebarControl.leaflet-touch {
  box-shadow: none;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.iconSidebarControl-left.leaflet-control { float: left; }
.iconSidebarControl-right.leaflet-control { float: right; }

.iconSidebarControl .labelIconWidget {
    line-height: 12px;
}

.iconSidebarControl .labelIconWidget .labelIconWidget-label {
    top: -5px;
    right: -5px;
}
